/*-----MENU-HAMBURGER-----*/

.hamburger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background-color: transparent;
    cursor: pointer;

}

.hamburger:focus > .hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
}

.hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: gray;
    transition: transform 220ms ease-in-out;
}

.hamburger__bars:before,
.hamburger__bars:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: gray;
    content: '';
}

.hamburger__bars:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger__bars:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars:before {
    top: 0;
    transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
}

.hamburger:focus,
.hamburger__container:focus {
    outline: none;
}

/* NAWIGACJA */

nav {
    width: 100%;
    float: right;
    display: block;
}

nav button {
    /* margin-left: auto;
    margin-right: auto; */
    float: right;
}

nav ul {
    margin: 0;
    width: 35%;
    max-width: 200px;
    display: block;
    float: right;
}

nav li {
    margin: 0;
    display: none;
    font-size: 17px;
    line-height: 150%;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

nav li:hover {
    color: lightgray;
}